.titleA
			{ 
				position: relative;
				right: 10px;
				font: bold 14px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
                    color: white; 
				direction: rtl;
				height: 20px;
				background-color: transparent;
				border-width: 0px;
				text-align: right;
			}
			
.titleB
			{ 
				font: bold 14px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
                    color: white; 
				direction: rtl;
				padding-right: 5px;
				height: 20px;
				background-color: transparent;
				border-width: 0px;
				text-align: left;
			}
			   
.titleC
			{ 
                    position: relative;
				right: 215px;
				font: bold 14px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
                    color: white; 
				direction: rtl;
				padding-right:5px;
				height: 20px;
				background-color: transparent;
				border-width: 0px;
				text-align: right;
		     }
			
.titlePageName
		{
			font: bold 16px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
			color: black;
			direction: rtl;
			padding-right: 5px;
		}
		
.titleCourse
		{
			font: bold 12px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
			color: white;
			direction: rtl;
			position: relative;
			text-align: right;
			width: 180px;
			top: 40px;
			right: 5px;
		}
			
.sectionForm
		{
			height: 15px;
			background-color: transparent; 
			border-width: 0px;
			direction: rtl;
		}

.tableScroll
		{
			width: 100%;
			overflow:auto;
			direction:rtl;
		}