.titleA
		{ 
			position: relative;
			right: 10px;
			font: bold 14px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
			color: white; 
			direction: ltr;
			height: 20px;
			background-color: transparent;
			border-width: 0px;
			text-align: right;
		}
			
.titleB
		{ 
			font: bold 14px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
			color: white; 
			direction: ltr;
			padding-right: 5px;
			height: 20px;
			background-color: transparent;
			border-width: 0px;
			text-align: left;
		}
			   
.titleC
		{ 
			position: relative;
			right: 200px;
			font: bold 14px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
			color: white; 
			direction: ltr;
			padding-right:5px;
			height: 20px;
			background-color: transparent;
			border-width: 0px;
		}
			
.titlePageName
		{
			font: bold 16px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
			color: black;
			direction: ltr;
			padding-right: 5px;
		}
		
.titleCourse
		{
			font: bold 12px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
			color: white;
			direction: ltr;
			position: relative;
			text-align: right;
			width: 180px;
			top: 40px;
			right: 5px;
		}
			
.sectionForm
		{
			width: 64px;
			height: 15px;
			background-color: transparent; 
			border-width: 0px;
			direction: ltr;
		}

.tableScroll
		{
			width: 100%;
			overflow:auto;
			direction:ltr;
		}