.footer 
			{
				padding: 0px 0px 0px 0px;
				margin: 0px 0px 0px 0px;
			}
			   
.toggle
			{
				background-image: url(../images/footer_buttonToggle.gif);
				background-position: center center;
				background-repeat: no-repeat;
			}
			
.sectionBar
			{
				width: 98%;
			}

.copyright     
			{
				font: 10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
				color: white; 
			}

.toggleLink
			{
				font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
				color: #008700;
				text-decoration: none;
				font-size:11px;
				font-weight: bold;
				position: relative;
				bottom: 2px;
			}