body.header 
		{
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
		}

.bubbles
		{
			position:relative;
			bottom:5px;
			padding-left:10px;
		}

.bubbles_seperator
		{
			position: absolute;
			bottom: 2px;
		}