td.titles {
	text-align: right;
	direction: rtl;
	vertical-align: middle;
	width: 279px;
	background: url(../launchpage/right.png) no-repeat;
}

.titlediv {
	padding-right: 20px;
	font: bold 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	direction: rtl;
}

.subtitlediv {
	padding-right: 20px;
	font: 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	direction: rtl;
}

td.btn {
	direction: rtl;
	background: url(../launchpage/btn.png) no-repeat;
	width: 148px;
	vertical-align: top;
	text-align: center;
	padding-top: 12px;
}

a.btntext {
	direction: rtl;
	font: bold 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #ffffff;
	text-decoration: none;
}

a.btntext:hover {
	direction: rtl;
	font: bold 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #ffffff;
	text-decoration: underline;
}

.copyright {
	font: 10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	direction: rtl;
}