body.popup {
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;
	background-color: F2F2F2;
}

.listdiv {
	height: 350px;
	background-color: #FFFFFF;
	text-align: right;
	overflow: auto;
	border-style: groove;
	border-color: #7f7f7f;
	vertical-align: top;
}

td.tool {
	direction: rtl;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
	text-indent: 10px;
	width: 100%;
}

td.tool:hover {
	direction: rtl;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
	text-indent: 10px;
	width: 100%;
	background-color: #e3ffd6;
}


a.tool {
	direction: rtl;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
	text-decoration: none;
}
