html {	overflow-y: auto;
	overflow-x: hidden;}

body.text {
	padding: 5px 15px;
	margin: 5px 15px;
}

p {
	font: 12pt Arial, Helvetica, sans-serif;
	color: #000000;
}

ul {
	font: 12pt Arial, Helvetica, sans-serif;
	color: #000000;
}