.bow {
	color: #000000;
	background-color: #ffffff;
}

.yob {
	color: #fdff00;
	background-color: #0d00ba;
}

.rob {
	color: #ff5353;
	background-color: #000000;
}

.wob {
	color: #ffffff;
	background-color: #000000;
}

.titlediv {
	font-size: 20px;
	font-weight: bold;
}

.subtitlediv {
	font-size: 20px;
}

.copyright {
	font-size: 10px;
}