body {
	direction: rtl;
}

.bow {
	color: #000000;
	background-color: #ffffff;
	direction: rtl;
}

.yob {
	color: #fdff00;
	background-color: #0d00ba;
	direction: rtl;
}

.rob {
	color: #ff5353;
	background-color: #000000;
	direction: rtl;
}

.wob {
	color: #ffffff;
	background-color: #000000;
	direction: rtl;
}

.titlediv {
	font-size: 20px;
	font-weight: bold;
	direction: rtl;
}

.subtitlediv {
	font-size: 20px;
	direction: rtl;
}

.copyright {
	font-size: 10px;
	direction: rtl;
}