body.footer {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

td.pntop {
	background: url(../images/footer_left_top.png) repeat-x;
}

td.navtop {
	background: url(../images/footer_right_top.png) repeat-x;
}

td.navmid {
	background: url(../images/nav_main_bg.png) repeat-x;
	vertical-align: middle;
	text-align: center;
}

td.mainnav {
	background: url(../images/nav_main_bg.png) repeat-x;
	text-align: right;
}

td.mainnav_toggle {
	background: url(../images/toggle_mid.png) repeat-x;
	text-align: center;
	vertical-align: middle;
}

a.togglelang {
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	color: #008700;
}

td.mainnavjump {
	background: url(../images/nav_main_bg.png) repeat-x;
	text-align: center;
	margin-top: 20px;
	padding-left: 7px;
}


td.copyright {
	background-color: #666666;
	color:  #ffffff;
	font: 10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	direction: rtl;
	text-align: center;
	height: 15px;
	vertical-align: middle;
}
