body.header {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

td.headerlogo {
	background: url(../images/header_left.png) repeat-x;
	vertical-align: top;
}

td.headerleft {
	width: 35%;
	background: url(../images/header_left.png) repeat-x;
	vertical-align: bottom;
	padding-bottom: 15px;
	padding-right: 5px;
	text-align: right;
}

td.headerlefttext {
	color: #ffffff;
	font: bold 12px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	direction: rtl;
}

td.headerright {
	width: 100%;
	background: url(../images/header_right.png) repeat-x;
	vertical-align: bottom;
	padding-bottom: 5px;
	padding-right: 5px;
	text-align: right;
}

td.headermid {
	background: url(../images/header_right.png) repeat-x;
	vertical-align: bottom;
	padding-bottom: 2px;
	padding-right: 5px;
	text-align: left;
}

td.headerrighttop {
	color: #ffffff;
	font: bold 14px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	direction: rtl;
}

td.headerrightbot {
	color: #000000;
	font: bold 16px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	direction: rtl;
	padding-top: 5px;
}