body.popup {
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;
	background-color: F2F2F2;
}

td.btnbg {
	background: url(../images/button.png);
	width: 116px;
	height: 30px;
	text-align: center;
	font: bold 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #FFFFFF;
	vertical-align: middle;
	direction: rtl;
}

td.btnbg:hover {
	background: url(../images/button_over.png);
	width: 116px;
	height: 30px;
	text-align: center;
	font: bold 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #FFFFFF;
	vertical-align: middle;
	direction: rtl;
}

a.buttonlink {
	text-align: center;
	width: 116px;
	font: bold 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #FFFFFF;
	vertical-align: middle;
	direction: rtl;
	text-decoration: none;
	display: block;
}

td.btnbg_selected {
	background: url(../images/button_selected.png);
	width: 116px;
	height: 30px;
	text-align: center;
	font: bold 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #FFFFFF;
	vertical-align: middle;
	direction: rtl;
}

.listdiv {
	height: 350px;
	background-color: #FFFFFF;
	text-align: right;
	overflow: auto;
	border-style: groove;
	border-color: #7f7f7f;
	vertical-align: top;
}

td.chaptertitle {
	direction: rtl;
	font: normal 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
	text-indent: 10px;
}

td.sectiontitle {
	direction: rtl;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
	text-indent: 30px;
}

td.topictitle {
	direction: rtl;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
	text-indent: 60px;
}

td.pagetitle {
	direction: rtl;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
	text-indent: 90px;
	width: 100%;
}

td.pagetitle:hover {
	direction: rtl;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
	text-indent: 90px;
	width: 100%;
	background-color: #e3ffd6;
}

a.page {
	direction: rtl;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
	text-decoration: none;
}

a.page:hover {
	direction: rtl;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
	text-decoration: none;
}

