body.text {
	padding: 5px;
	margin: 5px;
}

p {
	direction: rtl;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
}

ul {
	direction: rtl;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
}