<div id="list" class="listdiv">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<% for (var i=0; i<main.globaltools.tools.length; i++){ %>
		<tr><td class="tool"><a href="<%= main.globaltools.tools[i].link %>" class="tool" target="_blank"><%= main.globaltools.tools[i].label %></a></td></tr>
	<% } %>
</table> 
</div>
<hr/>
</form>
